<section class="container mt-3">
    <div class="card shadow p-3">
        <div class="row">
            <figure class="col-12 col-md-3">
                <img class="img-fluid" [src]="miUser.image" [alt]="miUser.first_name">
            </figure>
            <div class="col-12 col-md-9">
                <h2>{{miUser.first_name}}</h2>
                <h2>{{miUser.last_name}}</h2>
                <hr>
                <p>Nombre de usuario: {{miUser.username}}</p>
                <p>Email: {{miUser.email}}</p>
                <app-botonera [parent] ="'view'" [_id]="miUser._id"></app-botonera>
            </div>
        </div>
    </div>
</section>
