/* Custom styles */

.product {
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
}

.product-title {
    font-weight: bold;
    font-size: 1.2em;
}

.product-price {
    color: green;
    margin: 5px 0;
}

.product-quantity {
    width: 60px;
    text-align: center;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    margin: 0 5px;
}

#cart-summary ul {
    max-height: 400px;
    overflow-y: auto;
}


#total {
    font-size: 1.5em;
    font-weight: bold;
}


.quantity-controls button:hover {
    background-color: #e0e0e0;
}

.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .product {
        margin-bottom: 15px;
    }

    .product-title {
        font-size: 1em;
    }

    .product-quantity {
        width: 50px;
    }
}




