<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Sacar Dinero</title>
	</head>
	<body>
		
		<h1>Introduce la cantidad a extraer</h1>
		<h3>Cuenta : <span th:text="${session.cuenta.idCuenta}"></span></h3>
		<h3>Saldo : <span th:text="${session.cuenta.saldo}"></span></h3>
		<p></p>
		<form th:action="@{/cuenta/extraer}" method="post">
			<input type="number" name="importe" placeholder="Importe">
			<input type="submit" value="enviar">
		</form>
		<h4>Mensaje : <span th:text="${mensaje }"></span></h4>
		
		<p><a th:href="@{/home}">Volver</a></p>
	</body>
</html>