<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Opciones</title>
	</head>
	<body>
		<h3>Cuenta : <span th:text="${session.cuenta.idCuenta}"></span></h3>
		<h3>Cuenta : <span th:text="${session.cuenta.saldo}"></span></h3>
		
	<ul>	
		<li><a th:href="@{/cuenta/ingresar}">Ingresar</a></li>
		<li><a th:href="@{/cuenta/extraer}">Extraer</a></li>
		<li><a th:href="@{cuenta/movimientos}">Ver movimientos</a></li>
		<li><a th:href="@{/logout}">Cerrar sesion</a></li>
	</ul>	
		
	</body>
</html>