<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Movimientos</title>
	</head>
	<body>
		<h1>Movimientos realizados</h1>
		
		<h3>Cuenta : <span th:text="${session.cuenta.idCuenta}"></span></h3>
		<h3>Cuenta : <span th:text="${session.cuenta.saldo}"></span></h3>
		
			<table border="1">
				<tr>
					<th>Fecha</th>
					<th>Cantidad</th>
					<th>Operacion</th>
				</tr>
					<tr th:each="ele: ${movimientos}">
						<td th:text="${#dates.format(ele.fecha, 'dd - MM - yyyy  HH:mm:ss')}"></td>
						<td th:text="${ele.cantidad}"></td>
						<td th:text="${ele.operacion}"></td>
					</tr>
			</table>
			<a th:href="@{/home}">Volver</a>
	</body>
</html>